/* override browser margin & padding */
* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: purple;
    padding: 30px;
    margin-bottom: 10px;
}

.container-col {
    background-color: purple;
    padding: 30px;
    margin-bottom: 10px;
    height: 500px;
    width: 100%;
}

.desc {
    font-size: 30px;
    font-weight: bolder;
    }

.flex {
     /*  flex LTR (left to right) */
    display: flex;  
}

.inline-flex {
    /* acts inline to parent (will not take full width)  */
    display: inline-flex;
}

.flexflow-wrap-row {
    flex-flow: row wrap;
}

.flexflow-wrap-col{
    flex-flow: column  wrap;
}

.align-item-stretch {
    align-items: stretch;
}

.align-item-start {
    align-items: flex-start;
}


.align-item-end {
    align-items: flex-end;
}

.align-item-center {
    align-items: center;
}


.item {
    border: 5px solid white;
    background-color: yellow;
    font-size: 60px;
    padding: 30px;
    margin: 30px;
}


.item1 {
    border: 5px solid white;
    background-color: yellow;
    width: 300px;
    font-size: 60px;
    padding: 30px;
    margin: 30px;
}